.gridimages {
  height: 650px;
  background-color: #002868;
}

.contOne {
  position: relative;
  width: 300px;
  height: 250px;

  top: 119px;
}

.contOne {
  position: relative;
  width: 300px;
  height: 250px;
  margin-right: 20px;
  top: 119px;
}
.contLast {
  position: relative;
  width: 300px;
  height: 250px;

  top: 119px;
}

.titleOne {
  top: 339px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: "ssproBold";
  height: 60px;
  margin-top: 20px;
}

.lorem {
  top: 411px;
  line-height: 25px;
  margin-top: 12px;
  font-size: 16px;
  color: white;
  font-family: "ssproReg";
}

.button_icon {
  display: flex;
  margin-top: 5px;
  width: 150px;
  height: 46px;
  background-color: rgba(255, 99, 71, 0);
}

.icon {
  width: 24px;
  height: 24px;
  padding-top: 11px;
  padding-left: 5px;
}

.more {
  padding-top: 14px;
  font-size: 14px;
  color: white;
  font-family: "ssproBold";
  font-weight: bold;
  margin-left: 5px;
}

.containerFlex {
  display: flex;
  justify-content: center;
}

.miniTitle {
  background-image: url(./images/greek.png);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  position: relative;
  top: 40px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.ergaK {
  top: 1563px;
  position: absolute;
  font-size: 12px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  color: white;
  font-family: "ssproBold";
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
/* .greekIcontwo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
} */

.textWrapper3 {
  display: flex;
  justify-content: center;
}

.background {
  background-color: red;
}

.MAINbbbbbb {
  /* display: flex;
  justify-content: center; */
  top: 0px;
  position: absolute;
  margin: 0 auto;
}
